.app-container {
  width: 100%;;
  max-width: 1200px; 
  margin: 0 auto;    
  padding: 2rem;
  text-align: center;
  font-family: Arial, sans-serif;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 2rem; 
  margin-top: 2rem;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  transition: transform 0.2s; 
}

.card:hover {
  transform: translateY(-5px); 
}

.producto-imagen {
  width: 100%;
  height: 200px;       
  object-fit: contain; 
  border-radius: 4px;
  margin-bottom: 1rem;
  background-color: #fff;
}

.placeholder-local {
  width: 100%;
  height: 200px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  font-weight: bold;
  border: 2px dashed #ccc;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.precio {
  font-size: 1.4rem;
  color: #2ecc71;
  font-weight: bold;
  margin: 10px 0;
}

h3 {
  margin: 10px 0;
  font-size: 1.1rem;
  height: 3em; 
  overflow: hidden;
}

.btn-eliminar {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: auto; 
}

.btn-eliminar:hover {
  background-color: #c0392b;
}

@media (max-width: 1000px) {
  .productos-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 600px) {
  .productos-grid {
    grid-template-columns: 1fr; 
  }
  .app-container {
    padding: 1rem; 
  }
}

.acciones-container {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 30px;
  gap: 20px;
  flex-wrap: wrap; /* Para que baje en celulares */
}

.buscador-input {
  flex: 1; 
  max-width: 400px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 25px; 
  outline: none;
  transition: box-shadow 0.3s;
}

.buscador-input:focus {
  border-color: #3498db;
  box-shadow: 0 0 8px rgba(52, 152, 219, 0.3);
}

.btn-agregar {
  padding: 12px 25px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
}

.btn-agregar:hover {
  background-color: #2980b9;
}