.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  background-color: #f9f9f9; /* Color claro para destacar texto negro */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  color: #333; /* Texto oscuro */
}

.precio {
  font-size: 1.5rem;
  color: #2ecc71;
  font-weight: bold;

}