:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  background-color: #ffffff; /* Fondo blanco limpio */
  color: #213547;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: block; /* IMPORTANTE: Quitamos el 'flex' que trae por defecto */
}