/* El contenedor principal de la página */
.cargar-container {
  min-height: 100vh;
  padding: 40px 20px;
  background-color: #050505; /* Casi negro */
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alineado arriba */
}

/* La tarjeta del formulario */
.form-wrapper {
  background-color: rgba(20, 20, 20, 0.95);
  border: 1px solid #00f3ff; /* Borde Cyan */
  box-shadow: 0 0 20px rgba(0, 243, 255, 0.15); /* Resplandor suave */
  padding: 2.5rem;
  border-radius: 8px;
  width: 100%;
  max-width: 600px; /* Que no sea gigante */
}

.form-wrapper h1 {
  text-align: center;
  color: #00f3ff;
  text-transform: uppercase;
  margin-bottom: 30px;
  letter-spacing: 2px;
  text-shadow: 0 0 10px rgba(0, 243, 255, 0.5);
}

/* Estilo de las etiquetas */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  color: #aaa;
  font-size: 0.9rem;
  font-weight: bold;
}

/* Los inputs (cajas de texto) */
.form-input, 
.form-textarea {
  width: 100%;
  padding: 12px;
  background-color: #1a1a1a;
  border: 1px solid #333;
  color: #fff;
  border-radius: 4px;
  font-size: 1rem;
  transition: all 0.3s ease;
  outline: none;
}

.form-textarea {
  resize: vertical; /* Permite estirar hacia abajo */
  min-height: 100px;
}

/* Efecto al hacer clic en un input */
.form-input:focus, 
.form-textarea:focus {
  border-color: #ff0055; /* Rosa neón */
  box-shadow: 0 0 10px rgba(255, 0, 85, 0.3);
  background-color: #222;
}

/* Input de archivo (Imagen) */
.file-input {
  background-color: #1a1a1a;
  color: #aaa;
  padding: 10px;
  border: 1px dashed #444;
  width: 100%;
  cursor: pointer;
}

/* Botón de Guardar */
.submit-btn {
  width: 100%;
  padding: 15px;
  background-color: #00f3ff; /* Cyan */
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  transition: 0.3s;
  letter-spacing: 1px;
  margin-top: 10px;
}

.submit-btn:hover {
  background-color: #ff0055; /* Cambio a Rosa */
  color: white;
  box-shadow: 0 0 20px #ff0055;
}

/* Contenedor para los dos paneles */
.admin-grid {
  display: flex;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap; /* Para celulares baja el panel */
  justify-content: center;
  align-items: flex-start;
}

/* El panel de producto ocupa más espacio */
.form-wrapper {
  flex: 2;
  min-width: 300px;
}

/* El panel de categoría es más pequeño */
.category-wrapper {
  flex: 1;
  min-width: 250px;
  height: fit-content;
}

/* Botón secundario de otro color */
.btn-secondary {
  background-color: #00f3ff;
}
.btn-secondary:hover {
  background-color: #7c4dff;
}

/* Estilo para el SELECT */
.select-cyber {
  cursor: pointer;
  background-color: #1a1a1a;
}