.mi-formulario {
    background: #06b6d4;
    padding: 20px;
    margin: 20px auto;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mi-formulario input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.mi-formulario button {
    background-color: #0c2caeff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.mi-formulario button:hover {
    background-color: #2980b9;
}