.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a0a0a;
  padding: 1rem 2rem;
  border-bottom: 2px solid #00f3ff; /* Línea neón abajo */
  box-shadow: 0 0 15px rgba(0, 243, 255, 0.2);
}

.navbar-logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #00f3ff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 0 5px #00f3ff;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
}

.navbar-links a:hover {
  color: #00f3ff;
  text-shadow: 0 0 5px #00f3ff;
}

/* Botón de Salir */
.logout-btn {
  background: transparent;
  border: 1px solid #ff0055; /* Rojo neón */
  color: #ff0055;
  padding: 5px 15px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
  transition: 0.3s;
  border-radius: 4px;
}

.logout-btn:hover {
  background-color: #ff0055;
  color: white;
  box-shadow: 0 0 10px #ff0055;
}